@{
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Assign/Change User Rights  &nbsp;</h4>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" id="formGroupUserName">
                                <label>User Name <span class="mandatory">*</span></label>
                                <select class="form-control" id="ddlUserName">
                                    <option value="-1">Select</option>
                                </select>
                                <span id="errUserName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3">
                            <button id="btnReload" class="btn btn-info">Refresh</button>
                        </div>
                        <div class="col-6 mt-3">
                            <button id="btnSubmit" class="btn btn-info float-right">Submit</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <p id="msg"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered" id="tblUserRights">
                        <thead>
                            <tr>
                                <td>Check</td>
                                <td>Program Title</td>
                                <td>Program Description</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/Role/AssignRights.js" type="text/javascript"></script>