@{
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Claim Transaction Hisotry</h4>

        </div>
        <div class="card-body">
            <table class="table table-bordered" id="tblClaimTransactionHisotry">
                <thead>
                    <tr>
                        <td>Transaction No.</td>
                        <td>Title</td>
                        <td>Reason</td>
                        <td>Amount</td>
                        <td>Claim Date</td>
                        <td>Transaction Date</td>
                        <td>Last Approved By</td>
                       
                    </tr>
                  </thead>
                 <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/claim/Claimtransaction.js"></script>