
@{
}
<input type="hidden" value="@ViewBag.Role" id="hdnRole" />
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Pending Request</h4>

    </div>
    <div class="card-body">
        <table class="table table-bordered" id="tblPendingRequest">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>View Actions</td>
                    <td>Reason</td>
                    <td>Claim Date</td>
                    <td>Amount</td>
                    <td>Expense Date</td>
                    <td>Claim By</td>
                    <td>Remarks</td>
                    <td>View Evidence</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    </div>
</div>


<div class="modal fade" id="modalAction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Approve/Reject</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
                <div class="row">
                    <div class="col-10 offset-1">
                        <input type="hidden" id="hdnClaimId" />
                        <div class="form-group" id="formGroupRemerks">
                            <label>Remarks</label>
                            <textarea class="form-control" id="txtRemerks" ></textarea>
                            <span id="errRemerks"></span>
                        </div>
                    </div>
                    <div class="col-10 offset-1">
                        <div class="form-group" id="formGroupRemerks">
                          <button class="btn btn-warning" id="btnReject">Reject</button>
                          <button class="btn btn-success float-right" id="btnApprove">Approve</button>
                        </div>
                    </div>
                </div>

            </div>
          
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--modal for action hisotry-->
<div class="modal fade" id="modalActionHistory">
    <div class="modal-dialog">
        <div class="modal-content" style="width:43pc; margin-left:-51px">
            <div class="modal-header">
                <h4 class="modal-title">Action Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblActionHistory">
                    <thead>
                        <tr>
                            <td>Action On</td>
                            <td>Action By</td>
                            <td>Action</td>
                            <td>Remarks</td>
                         
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
             </table>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--End modal for action hisotry-->

<script type="text/javascript" src="~/js/claim/ClaimAction.js"></script>